* {
    box-sizing: border-box;
}

h1 {
    color: #07c9d7;
    margin-bottom: 20px;
}

.tagline {
    font-weight: bold;
    font-size: 1.2rem;
}

.profile-pic {
    border: 5px solid black;
    padding: 5px;
    width: 300px;
}

body {
    background-color: rgb(16, 153, 6);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}